  body {
    background-color: black;
  }
  h1 {
    color: green;
  }
  h2 {
    color: silver;
  }
  p {
    color: pink;
  }
  .tales {
    background-color: white
    border-style:dashed;
    border-color: fuchsia;
  }
  .box {
    border-style:groove;
    border-color: silver;
    border-width: 5px;
    text-align: center;
  }
  .bossy-text {
    font-family: monospace;
    font-size: 20px;
    margin: 10px 20px 10px 10px;
    color: blue;
    background-color: #9ce354;
    margin: 50px ;
  }
  .photo {
    border: 10px;
    border-color: silver;
    border-style: dotted;
    align: center;
  }
  .gif {
    border-style: dotted;
    border-color: red;

  }
